<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Mandato Retail</title>
    <style>

        body {
          font-family: "Times New Roman", Times, serif;
          line-height: 1.5;
          margin: 0;
          padding: 30px 30px 30px 30px;
          text-align: justify;
          font-size: 13pt;
        }

        p {
          text-indent: 0;
          margin-top: 0;
          margin-bottom: 1em;
        }

        .page-break {
          page-break-before: always;
        }


        @media screen {
          @page {
            margin: 0;
          }

          header {
            position: static;
            background: none;
            height: auto;
            padding: 0;
          }

          body {
            padding-top: 60px;
          }
        }

        .firma-cuadro {
            margin-top: 60px;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        .firma-cuadro table {
            border: 1px solid #000;
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

        .firma-cuadro td {
            border: 1px solid #000;
            padding: 6px;
            font-weight: bold;
            font-size: 11pt;
        }
    </style>
</head>

<body>
    <h4>
        MANDATO Y DECLARACIÓN DEL INVERSIONISTA
    </h4>

    <br/>

    <div>
        <p>
            En Santiago, Chile, a ${date}, comparece ${inversionist}, RUT
            N°${documentNumber}, en adelante el “Mandante y/o el Inversionista”, quien declara
        </p>

        <br/>

        <p>
            <strong>PRIMERO:</strong> Que en este acto viene en conferir mandato especial irrevocable en los
            términos del Art. 241 del Código de Comercio, por interesar al mandante y a terceros
            l a <strong>Doble Impacto SpA, RUT N° 76.792.913-7</strong>, en adelante el “Mandatario”, para
            negociar, acordar, suscribir, aceptar, perfeccionar, ejecutar y percibir por
            cuenta y representación del Mandante todo acto, contrato y operación necesarios y
            conducentes para dar en mutuo o préstamo y recibir su pago o ejecutar el cobro, a la
            empresa ${enterprise}., en adelante el “Deudor”, la suma de ${amount} CLP, para lo cual
            tendrá las siguientes facultades:
        </p>

        <br/>

        <p>
            <strong>SEGUNDO:</strong> Para la ejecución del presente mandato el mandatario tendrá las
            siguientes facultades:
        </p>

        <ol type="a" style="list-style-type: lower-alpha;">
            <li>
                Recibir dineros como fondos por rendir y entregarlos por cuenta del Mandante
                al Deudor, sea mediante depósito o transferencia electrónica, contra recepción de un
                pagaré debidamente firmado por el Deudor en términos que razonablemente defina
                el Mandatario;
            </li>
            <li>
                Recibir, custodiar y/o encargar la custodia del pagaré a terceros, o cualquier
                otro instrumento firmado por el Deudor; cobrar y percibir todas y cada una de las
                cuotas del capital dado en mutuo o préstamo, sus intereses y demás pagos que se
                estipulen a favor del Mandante; aceptar daciones en pago del Deudor y recibir aceptar
                en su representación facturas u otros instrumentos cedidos en dominio, cobranza y/o
                garantía;
            </li>
            <li>
                Deducir de los cobros al Deudor, toda suma que hubieren acordado el
                Mandante y Mandatario en favor de éste, sean estas comisiones, honorarios y/o
                cualquier tipo de compensación;
            </li>
            <li>
                Efectuar la cobranza judicial y extrajudicial de toda deuda y obligación del
                Deudor en favor del Mandante que se contraiga bajo el presente instrumento,
                pudiendo especialmente el Mandatario endosar en cobranza, en dominio o garantía,
                a sí mismo o a terceros, todos y cada uno del o los pagarés y demás instrumentos que
                se hayan suscrito en cumplimiento del presente mandato, en los términos del Art. 22
                de la Ley 18.092 sobre Letra de Cambio y Pagaré, endoso que conforme al art. 29 de la
                misma ley abarca todas las atribuciones propias del mandato judicial, incluyendo todas
                las atribuciones contempladas en ambos incisos del artículo séptimo del Código de
                Procedimiento Civil, y especialmente las de demandar, deducir querellas criminales,
                iniciar cualquier otra gestión judicial, reconvenir, contestar reconvenciones, desistirse
                en primera instancia de la acción deducida, renunciar a los recursos o términos legales,
                transigir, comprometer, otorgar a los árbitros las facultades de arbitradores, aprobar
                convenios, verificar créditos, impugnar verificaciones y percibir, a fin de proseguir con
                todas las acciones de cobranza que correspondan; a mayor abundamiento el
                Mandante confiere poder al Mandatario para cobrar facturas, letras de cambio,
                pagarés y demás efectos de comercio, depositarlos en las cuentas corrientes bancarias
                que estime convenientes, hacerlos protestar, endosarlos en cobranza, retirarlos y
                percibir su importe, y ejercer y oponer todas las acciones y excepciones que en
                derecho correspondan al Mandante para obtener el pago íntegro y oportuno de los
                montos adeudados al Mandante; este mandato incluye también la ejecución de toda
                clase de garantías, pudiendo el Mandatario ceder a terceros los derechos emanados
                de las garantías constituidas en mi favor, otorgar cartas de pago con subrogación en
                los términos del artículo 1611 de Código Civil, traspasando al nuevo acreedor todos
                los derechos, acciones, privilegios y garantías que tenga contra el deudor, así como
                contra los terceros obligados solidaria o subsidiariamente a la deuda; se faculta
                expresamente al mandatario a descontar de los montos recuperados, todos los gastos
                incurridos en estas gestiones de cobranza, con antelación y preferencia del crédito del
                mandante.
            </li>
            <li>
                Aceptar y ejecutar en mi nombre y representación todo tipo de cauciones o
                garantías reales o personales a favor del Mandante para asegurar el cumplimiento de
                los montos dados en mutuo o préstamo bajo el presente mandato, incluyendo sin
                limitación los actos, contratos o convenciones de hipotecas, prendas, prendas sin
                desplazamiento, fianzas, avales, codeudas y cesiones condicionales, pudiendo
                estipular toda clase de contraprestaciones, precios, intereses, rentas, honorarios,
                remuneraciones, reajustes, indemnizaciones, condiciones, plazos y modalidades y
                convenir o modificar toda clase de pactos o estipulaciones, sean de la esencia, de la
                naturaleza o meramente accidentales; además, podrá recibir, percibir, entregar, exigir
                rendiciones de cuentas y ejecutar todos los derechos y acciones que por cualesquiera
                de estas garantías competan al Mandante; firmar, suscribir y modificar todas las
                escrituras o instrumentos públicos o privados que sean necesarios para la correcta
                constitución de las garantías de los montos dados en préstamo o mutuo bajo el
                presente mandato; practicar todo tipo de inscripciones en los Conservadores de
                Bienes Raíces y en el Servicio de Registro Civil e Identificación; modificar, desahuciar,
                anular, rescindir, resciliar, resolver, revocar y terminar los actos, contratos o
                convenciones antes señalados; pagar, novar, compensar, remitir, modificar y extinguir
                de cualquier modo toda clase de obligaciones establecidas en dichas cauciones y
                garantías;
            </li>
            <li>
                Suscribir cesiones de derechos, créditos y contratos, puras y simples o sujetas
                a una o más condiciones, en favor del Mandante como cesionario;
            </li>
            <li>
                Para el adecuado desempeño de su cometido, el Mandatario podrá designar
                abogados patrocinantes y nombrar apoderados con todas o algunas de las facultades
                señaladas, quedando autorizados para delegar este poder, total o parcialmente, u
                otorgar poderes especiales y reasumirlos cuantas veces lo estimen necesario.
            </li>
        </ol>

        <br/>

        <p>
            <strong>TERCERO:</strong> El mandante declara expresamente que:
        </p>

        <ol type="a" style="list-style-type: lower-alpha;">
            <li>
                Las Solicitudes de Financiamiento publicadas en la plataforma corresponden a
                transacciones generadas exclusivamente entre una organización solicitante de
                financiamiento y uno o más Inversionistas, en las que la obligación al pago de la deuda
                de los créditos es asumida exclusivamente por la organización solicitante respectiva
                y/o por el deudor que corresponda.
            </li>
            <li>
                Al participar en la Plataforma como inversionista, es él quien toma sus propias
                decisiones de inversión, de acuerdo a su propio análisis de riesgo y bajo su única y
                exclusiva responsabilidad.
            </li>
            <li>
                El inversionista comprende y acepta que las solicitudes de financiamiento
                publicadas a través de la plataforma no se encuentran garantizadas de ninguna
                manera por Doble Impacto SpA, ni sus empresas relacionadas.
            </li>
        </ol>

        <br/>

        <p>
            <strong>CUARTO:</strong> En caso de mora en el pago del financiamiento, el Mandante y/o
            Inversionista declara y acepta expresamente lo siguiente:
        </p>

        <ol type="a" style="list-style-type: lower-alpha;">
            <li>
                En caso de mora por parte del deudor o cliente, Doble Impacto SpA actuará en
                su representación para llevar a cabo la cobranza extrajudicial y eventualmente la
                judicial en caso de que corresponda.
            </li>
            <li>
                Doble Impacto SpA no es responsable de los resultados de la cobranza de los
                préstamos adeudados respecto de las solicitudes de financiamiento adjudicadas, sino
                que sólo será responsable de cumplir con el mandato para llevar a cabo las acciones
                de cobranza y percibir los dineros del Mandante y/o Inversionista en los términos del
                mandato que éste otorgue a Doble Impacto SpA y/o a los abogados que éste designe
                para estos efectos.
            </li>
            <li>
                Los gastos, honorarios, costos y demás conceptos que ocasione la cobranza
                judicial y/o extrajudicial que se ocasionen respecto de la ejecución legal de pago de
                una solicitud de financiamiento serán cobrados y pagados por el Mandante y/o
                Inversionista con cargo al monto recuperado en el juicio o término de la acción legal,
                cualquiera sea su causa.
            </li>
            <li>
                Estar en conocimiento de que existe la posibilidad que ciertas solicitudes de
                financiamiento no sean pagadas parcial o totalmente por el cliente o deudor,
                asumiendo los riesgos que esto implica. En este sentido, se entenderá que un crédito
                ha sido declarado como incobrable cuando se hayan agotado todas las acciones
                prejudiciales y judiciales de cobranza.
            </li>
            <li>
                Doble Impacto SpA NO GARANTIZA en ninguna circunstancia que el
                inversionista recuperará la totalidad o una parte del monto invertido. Doble Impacto
                SpA no actúa en representación de los clientes o deudores y no responde bajo ningún
                concepto como aval, codeudor, ni deudor solidario, o de forma alguna como garante
                por los pagos de cuotas ni intereses que el solicitante o el deudor se obliga a realizar.
            </li>
        </ol>

        <br/>

        <p>
            <strong>QUINTO:</strong> El Mandatario sólo será responsable de culpa grave bajo el presente
            mandato, y no se encuentra obligado a rendir cuenta de su gestión.
        </p>

        <br/>

        <p>
            <strong>SEXTO:</strong> El Mandante declara que:
        </p>

        <ol type="a" style="list-style-type: lower-alpha;">
            <li>
                Ha sido informado, y realiza libre y voluntariamente la presente inversión,
                asumiendo los riesgos y las posibles pérdidas que puede conllevar.
            </li>
            <li>
                Los fondos a ser dados en préstamo bajo el presente mandato provienen de
                actividades lícitas.
            </li>
            <li>
                El presente mandato y su ejecución son operaciones legítimas que no
                configuran delito alguno, incluyendo aquellos contemplados bajo la Ley N°
                19.913 y 20.393.
            </li>
        </ol>

    </div>

    <div class="firma-cuadro">
        <table>
            <tr>
                <td>ACEPTADO</td>
            </tr>
            <tr>
                <td>${inversionist}</td>
            </tr>
            <tr>
                <td>RUT: ${documentNumber}</td>
            </tr>
        </table>
    </div>

</body>
</html>
